.Services{
  .servicesh1 {

      h1 {
    font-size: 60px;
    margin-top: 36px;
}
    .h1border{
        height: 10px ;
        width: 5%;
        background: #EDCD20;
        margin: auto;
        margin-top: 1%;
        margin-bottom: 3%;
    }
  }
    .card1{
        display: flex;
      
        text-align: left;
                    
                     width: 60%;
        .card2{
            margin: auto;
            width: 50%;
        .card-title.h5 {
            color: #3D5975;
        }
        p.card-text {
            color: #3B3A3A;
        }
        }
    }
}