 





.About{
    display: flex;
    margin-top: 10%;
        .Abouth1 {
    width: 50%;
    margin-top: 6%;
      h1 {
    font-size: 60px;
    margin-top: 36px;
}
    .h1border{
        height: 10px;
        width: 8%;
        background: #EDCD20;
        margin: auto;
        margin-top: 1%;
        margin-bottom: 3%;
        margin-left: 38%;

    }
  }
   .Aboutp {
    text-align: left;
    margin-left: 37%;
}
    .img2{
        background-image: url(https://iberianewss.files.wordpress.com/2016/03/c07fd-20160309_183356.jpg);
        background-attachment: fixed;
        width: 50%;
        height: 700px;
    }
}
.texting{
    display: flex;
    width: 60%;
    text-align: center;
        margin: auto;
    position: relative;
    top: 15%;
    .border11{
        
    height: 100px;
    margin-top: 4%;
    width: 15px;
    background: white;
    border-radius: 100%;
    }
}
.inpo{
    width: 100%;
        p {
             font-size: 21px;
             color: #1E2D3B;
        }

        h1 {
         font-size: 75px;
         color: #1E2D3B;
        }
}
.textin {
    background: #EDCD20;
}